<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<style>
			@font-face {
				font-family: "CambriaRegularEmbed";
				src: url("data:font/collection;charset=utf-8;base64,<%= fontRegularBase64 %>")
					format("truetype-collection");
				font-style: normal;
			}
			@font-face {
				font-family: "CambriaBoldEmbed";
				src: url("data:font/ttf;charset=utf-8;base64,<%= fontBoldBase64 %>")
					format("truetype");
				font-style: normal;
			}
			@page {
				size: A4;
				margin-top: 5.75cm;
				margin-bottom: 2.54cm;
				margin-left: 2.54cm;
				margin-right: 2.54cm;
			}
			body {
				font-family:
					"CambriaRegularEmbed", "Cambria", "Times New Roman", serif;
				font-size: 11pt;
				line-height: 1.5;
				color: #000;
			}
			.text-right {
				text-align: right;
			}
			.text-center {
				text-align: center;
			}
			.text-justify {
				text-align: justify;
			}
			.bold {
				font-family:
					"CambriaBoldEmbed", "Cambria", "Times New Roman", serif;
				font-weight: normal;
			}
			.underline {
				text-decoration: underline;
			}
			.text-red {
				color: red;
			}
			.mt-1 {
				margin-top: 0.25rem;
			}
			.mt-2 {
				margin-top: 0.5rem;
			}
			.mt-3 {
				margin-top: 0.75rem;
			}
			.mt-4 {
				margin-top: 1rem;
			}
			.mt-8 {
				margin-top: 2rem;
			}
			.flex-between {
				display: flex;
				justify-content: space-between;
			}
			.border {
				border: 1px solid #000;
			}
			.border-red-500 {
				border-color: red;
			}
			ol {
				padding-left: 2rem;
			}
			li {
				text-align: justify;
			}
			.font-bold {
				font-weight: bold;
			}
			.w-fit {
				width: fit-content;
			}
			.flex-container {
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
			.p-1 {
				padding: 0.25rem;
			}
			.text-xs {
				font-size: 12pt;
			}
			.list-decimal {
				list-style-type: decimal;
			}
			.text {
				font-size: 10pt;
			}
		</style>
	</head>
	<body class="text">
		<div class="flex-container">
			<div class="text-right border border-red-500 w-fit p-1">
				<span class="bold">Expediente:</span> 00458-2026
			</div>
		</div>

		<div class="text-center bold underline mt-2 text-xs">
			CARTA Nº 002-2026 / LIQUIDACIÓN DE COSTAS Y COSTOS
		</div>

		<div class="mt-4">
			<span class="bold">SOCIO(A):</span> <%= nombre %>
		</div>

		<div class="flex-between">
			<div><span class="bold">DNI / RUC:</span> <%= dni %></div>
			<div><span class="bold">DOMICILIO:</span> <%= direction %></div>
		</div>

		<div class="mt-1">
			<span class="bold">DEUDA TOTAL DE LA OBLIGACIÓN:</span>
			<span class="bold text-red">S/ <%= monto_total %></span>
		</div>

		<div class="bold mt-2">
			REQUERIMIENTO FINAL PREVIO A EJECUCIÓN FORZADA
		</div>

		<div class="text-justify mt-2">
			Ante el vencimiento del plazo otorgado y la persistencia de su
			conducta de impago, le comunicamos que su expediente ha sido
			<span class="bold">DICTAMINADO PARA EJECUCIÓN JUDICIAL</span>. A
			partir de este momento, según lo establecido en el
			<span class="bold">Código Procesal Civil</span>, usted asume la
			responsabilidad económica de todos los gastos derivados del proceso
			de recuperación.
		</div>

		<div class="text-justify mt-2 bold">
			DETALLE DE INCREMENTO DE DEUDA (PROYECCIÓN JUDICIAL):
		</div>

		<ul>
			<li>
				<span class="bold"
					>TASAS JUDICIALES (Aranceles Poder Judicial):</span
				>
				S/ 515.00 (aprox.)
			</li>
			<li>
				<span class="bold"
					>HONORARIOS PROFESIONALES (Costo Legal):</span
				>
				S/ 1,200.00 (según cuantía).
			</li>
			<li>
				<span class="bold">COSTOS DE DILIGENCIA DE EMBARGO:</span>
				S/ 600.00 (Gastos logísticos y de custodia).
			</li>

			<li>
				<span class="bold"
					>TOTAL ESTIMADO PARA CANCELACIÓN EN VÍA JUDICIAL:</span
				>
				<span class="bold text-red">
					S/ <%= monto_total_judicial %></span
				>
				(Deuda Total + Gastos Procesales)
			</li>
		</ul>

		<div class="text-justify mt-2">
			<span class="bold"
				>BENEFICIO DE SUSPENSIÓN PROCESAL (ÚNICAS 24 HORAS):</span
			>
			Para evitar que estos montos se carguen definitivamente a su nombre
			y se proceda con el
			<span class="bold">Secuestro Conservativo de Bienes</span> en su
			domicilio, se le otorga un último plazo de
			<span class="bold">24 HORAS</span> para:
		</div>

		<ul class="mt-2">
			<li>
				<span class="bold">SUSCRIBIR TRANSACCIÓN EXTRAJUDICIAL:</span>
				Acérquese a nuestra oficina en Ayacucho para firmar el acta de
				compromiso y detener la demanda.
			</li>
			<li>
				<span class="bold">VALIDAR PAGO INMEDIATO:</span> Contacte al
				especialista legal al teléfono
				<span class="bold"><%= telefono_contacto %></span>
				para reportar su depósito.
			</li>
		</ul>

		<div class="text-justify mt-2">
			<span class="bold">ADVERTENCIA FINAL:</span> De ignorar esta
			notificación, se dará por cerrada la etapa de negociación directa.
			El próximo contacto será realizado por el
			<span class="bold">Secretario Judicial</span> y la
			<span class="bold">Fuerza Pública</span> para la ejecución de la
			medida cautelar en su domicilio.
		</div>

		<div class="text-center bold mt-4">
			"EL COSTO DE SU SILENCIO ES EL INCREMENTO DE SU DEUDA. DETENGA EL
			PROCESO HOY."
		</div>

		<div class="mt-4">Atentamente,</div>
		<div class="mt-8 text-center font-bold">
			Área legal - Recuperaciones
		</div>
	</body>
</html>
